openapi: 3.0.0
info:
  title: SynBioHub Plugins API
  version: 1.0.0
  description: 'Plugin-related API endpoints for SynBioHub


    For a detailed overview of how plugins work and how to implement them, see the
    [Plugin Concept Guide](concepts/plugins.md).'
servers:
- url: https://synbiohub.org
  description: Main SynBioHub instance
- url: http://localhost:7777
  description: Local development instance
paths:
  /status:
    get:
      summary: Plugin Status
      description: 'Checks if the plugin is operational.  SynBioHub polls this endpoint
        to verify the plugin is up.

        '
      responses:
        '200':
          description: Plugin is running
          content:
            text/plain:
              schema:
                type: string
                example: The plugin is up and running
  /evaluate:
    post:
      summary: Evaluate Request
      description: 'Determines if the plugin can handle the incoming request.  SynBioHub
        sends metadata about the object or file to this endpoint. Return 200 if the
        plugin can process it, or 415 if it cannot.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: The RDF type of the object (e.g., ComponentDefinition,
                    Collection)
                url:
                  type: string
                  description: The URL of the object in SynBioHub
                filename:
                  type: string
                  description: Name of the file (for submission plugins)
      responses:
        '200':
          description: Plugin can handle the request
        '415':
          description: Plugin cannot handle the request
  /run:
    post:
      summary: Run Plugin
      description: 'Executes the plugin logic. SynBioHub sends the actual data or
        location of the data to this endpoint.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: The URL of the object
                complete_sbol:
                  type: string
                  description: URL to fetch the complete SBOL data
                params:
                  type: object
                  description: Any additional parameters passed from the frontend
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: The uploaded file (for submission plugins)
                params:
                  type: object
                  description: Any additional parameters
      responses:
        '200':
          description: Plugin execution successful
          content:
            application/json:
              schema:
                type: object
                description: JSON response (e.g., for submission plugins)
            text/html:
              schema:
                type: string
                description: HTML content (for visualization plugins)
            application/octet-stream:
              schema:
                type: string
                format: binary
                description: File download (for download plugins)
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error

components:
  securitySchemes:
    userToken:
      type: apiKey
      in: header
      name: X-authorization
      description: Authentication token with admin privileges
tags:
- name: Plugins
externalDocs:
  description: Thorough guide to SynBioHub Plugins
  url: concepts/plugins.md
